@media (max-width: 992px){

    #header {
        padding: 20px;

    }
    
    #header .logo {
        font-size: 1.5em;
    }

    #header .navigation {
        display: none;
    }

    #header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: #fff
    }

    #header .navigation li {
        margin-left: 0;
    }
    
    #header .navigation li a {
        font-size: 1.5em;
        margin: 5px 0;
        display: inline-block

    }

    .toggle {
        display: flex;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-size: 30px;
        background-repeat: no-repeat;
        z-index: 1000;
        
    }

    .toggle.active{
        background: url(close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        z-index: 1000;
    }

    .sec {
        padding : 20px;
    }

    .sec h2 {
        font-size: 1.5em;
    }
    section img#forest1 {
        transform: translateY(00px);
    }
}