/* font goole poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* background: #fff; */
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#header .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
    font-family: sans-serif;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li .active {
    background: #094b65;
    color: #fff;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 10;
}

section img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
}

section #text {
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);
}

section #text span {
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

#btn {
    text-decoration: none;
    display: flex;
    padding: 8px 30px;
    background: #fff;
    color: #094b65;
    border-radius: 40px;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    transform: translateY(100px);
    font-family: sans-serif;
}
.sec {
    position: relative;
    padding: 100px;
    background:  #094b65;
    
}

.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 14px;
    font-family: "Poppins", sans-serif;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-family: 'Poppins',sans-serif;
}

.toggle {
    display: none;
}